@{
    ViewData["Title"] = "About Us";
    ViewData["ActivePage"] = "About";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 d-flex align-items-center">
            <div>
                <h2>About Us</h2>
                <p>
                    We shall rule people’s hearts with quality and services. We shall be the best 
                    amongst our peers by using top-notch natural raw materials to produce unmatched 
                    taste and quality by utilizing modern technology. We shall never compromise on quality. 
                    We shall always be customer friendly.
                </p>

                <p>
                    At Churn Station, we believe in delivering the finest ice cream made from the freshest 
                    ingredients. Our dedication to quality and service is reflected in every scoop of ice cream we serve. 
                    Join us on our journey to bring joy and delicious flavors to your life.
                </p>
            </div>
        </div>

        <div class="col-md-4">
            <img src="/media/logo.jpeg" class="img-fluid about-image" alt="About Us">
        </div>

    </div>
</div>

